doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    title ATX Coffee

    link(href='/css/lib/font-awesome.min.css', rel='stylesheet')
    link(href='/css/lib/animate.css', rel='stylesheet')

    link(href='/css/styles.css', rel='stylesheet')

    script(src='/js/lib/jquery.js')
    script(src='/js/lib/bootstrap.js')
    script(src='/js/main.js')
    script.
        if (window.location.hash && window.location.hash == '#_=_') {
            window.location.hash = '';
        }
        if (window.location.hash && window.location.hash == '#_=_') {
            if (window.history && history.pushState) {
                window.history.pushState("", document.title, window.location.pathname);
            } else {
                // Prevent scrolling by storing the page's current scroll offset
                var scroll = {
                    top: document.body.scrollTop,
                    left: document.body.scrollLeft
                };
                window.location.hash = '';
                // Restore the scroll offset, should be flicker free
                document.body.scrollTop = scroll.top;
                document.body.scrollLeft = scroll.left;
            }
        }
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48424908-1', 'atxcoffee.herokuapp.com');
          ga('send', 'pageview');
  body
    #wrap
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') ATX Coffee
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=title=='Home'?'active':undefined)
                a(href='/') Home
              li(class=title=='API Browser'?'active':undefined)
                a(href='/api') API Browser
              li(class=title=='Contact'?'active':undefined)
                a(href='/contact') Contact
              li(class=title=='Groups'?'active':undefined)
                a(href='/groups') Groups
              li(class=title=='Users'?'active':undefined)
                a(href='/users') Users
              li(class=title=='Meetings'?'active':undefined)
                a(href='/meetings') Meetings
            ul.nav.navbar-nav.navbar-right
              if !user
                li(class=title=='Login'?'active':undefined)
                  a(href='/login') Login
                li(class=title=='Create Account'?'active':undefined)
                  a(href='/signup') Create Account
              else
                li.dropdown(class=title=='Account Management'?'active':undefined)
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    if user.profile.picture
                      img(src='#{user.profile.picture}')
                    | #{user.profile.name || user.id}&nbsp;
                    i.caret
                  ul.dropdown-menu
                    li: a(href='/account') My Account
                    li.divider
                    li: a(href='/logout') Logout
      .container
        block content
    #footer
      .container.text-center
        div
          | © 2014 Company, Inc.
        div
          strong Hackathon Starter
          |  Project
          |  ·
          | Created by
          a(href='http://sahatyalkabov.com')  Sahat Yalkabov
        div
          | Code licensed under
          a(href='http://opensource.org/licenses/mit-license.html')  MIT License
        div
          a(href='https://github.com/sahat/hackathon-starter') GitHub Project
          |  ·
          a(href='https://github.com/sahat/hackathon-starter/issues')  Issues
